In [12]:
# Load Files

In [13]:
import pandas as pd
output = pd.read_csv('output.csv')
output

              Program   Iterations   Array_Size   Total_Time   Average_Time
0          BHS_Stable            1          100     0.003547       0.003547
1    BHS_Experimental            1          100     0.001664       0.001664
2           QuickSort            1          100     0.001385       0.001385
3          BHS_Stable            1          100     0.001691       0.001691
4    BHS_Experimental            1          100     0.001322       0.001322
..                ...          ...          ...          ...            ...
295  BHS_Experimental            1          100     0.000328       0.000328
296         QuickSort            1          100     0.000282       0.000282
297        BHS_Stable            1          100     0.000596       0.000596
298  BHS_Experimental            1          100     0.000279       0.000279
299         QuickSort            1          100     0.000252       0.000252

[300 rows x 5 columns]

In [20]:
# Filter for BHS_STABLE
BHS_STABLE = output["Program"] == "BHS_Stable"
BHS_STABLE_OUTPUT_DATA = output[BHS_STABLE]
BHS_STABLE_OUTPUT_DATA

        Program   Iterations   Array_Size   Total_Time   Average_Time
0    BHS_Stable            1          100     0.003547       0.003547
3    BHS_Stable            1          100     0.001691       0.001691
6    BHS_Stable            1          100     0.001832       0.001832
9    BHS_Stable            1          100     0.001706       0.001706
12   BHS_Stable            1          100     0.001700       0.001700
..          ...          ...          ...          ...            ...
285  BHS_Stable            1          100     0.000519       0.000519
288  BHS_Stable            1          100     0.000534       0.000534
291  BHS_Stable            1          100     0.000574       0.000574
294  BHS_Stable            1          100     0.000679       0.000679
297  BHS_Stable            1          100     0.000596       0.000596

[100 rows x 5 columns]

In [21]:
# Filter for BHS_EXPERIMENTAL
BHS_EXPERIMENTAL = output["Program"] == "BHS_Experimental"
BHS_EXPERIMENTAL_OUTPUT_DATA = output[BHS_EXPERIMENTAL]
BHS_EXPERIMENTAL_OUTPUT_DATA

              Program   Iterations   Array_Size   Total_Time   Average_Time
1    BHS_Experimental            1          100     0.001664       0.001664
4    BHS_Experimental            1          100     0.001322       0.001322
7    BHS_Experimental            1          100     0.000881       0.000881
10   BHS_Experimental            1          100     0.001394       0.001394
13   BHS_Experimental            1          100     0.012468       0.012468
..                ...          ...          ...          ...            ...
286  BHS_Experimental            1          100     0.000304       0.000304
289  BHS_Experimental            1          100     0.000311       0.000311
292  BHS_Experimental            1          100     0.000320       0.000320
295  BHS_Experimental            1          100     0.000328       0.000328
298  BHS_Experimental            1          100     0.000279       0.000279

[100 rows x 5 columns]

In [22]:
# Filter for QuickSort
QUICKSORT = output["Program"] == "QuickSort"
QUICKSORT_OUTPUT_DATA = output[QUICKSORT]
QUICKSORT_OUTPUT_DATA

       Program   Iterations   Array_Size   Total_Time   Average_Time
2    QuickSort            1          100     0.001385       0.001385
5    QuickSort            1          100     0.000650       0.000650
8    QuickSort            1          100     0.001070       0.001070
11   QuickSort            1          100     0.000523       0.000523
14   QuickSort            1          100     0.000363       0.000363
..         ...          ...          ...          ...            ...
287  QuickSort            1          100     0.000261       0.000261
290  QuickSort            1          100     0.000346       0.000346
293  QuickSort            1          100     0.000242       0.000242
296  QuickSort            1          100     0.000282       0.000282
299  QuickSort            1          100     0.000252       0.000252

[100 rows x 5 columns]

In [28]:
BHS_STABLE_OUTPUT_DATA.describe()

        Iterations   Array_Size   Total_Time   Average_Time
count        100.0        100.0   100.000000     100.000000
mean           1.0        100.0     0.000625       0.000625
std            0.0          0.0     0.000426       0.000426
min            1.0        100.0     0.000431       0.000431
25%            1.0        100.0     0.000482       0.000482
50%            1.0        100.0     0.000507       0.000507
75%            1.0        100.0     0.000559       0.000559
max            1.0        100.0     0.003547       0.003547

In [29]:
BHS_EXPERIMENTAL_OUTPUT_DATA.describe()

        Iterations   Array_Size   Total_Time   Average_Time
count        100.0        100.0   100.000000     100.000000
mean           1.0        100.0     0.000501       0.000501
std            0.0          0.0     0.001248       0.001248
min            1.0        100.0     0.000254       0.000254
25%            1.0        100.0     0.000289       0.000289
50%            1.0        100.0     0.000305       0.000305
75%            1.0        100.0     0.000330       0.000330
max            1.0        100.0     0.012468       0.012468

In [30]:
QUICKSORT_OUTPUT_DATA.describe()

        Iterations   Array_Size   Total_Time   Average_Time
count        100.0        100.0   100.000000     100.000000
mean           1.0        100.0     0.000315       0.000315
std            0.0          0.0     0.000284       0.000284
min            1.0        100.0     0.000189       0.000189
25%            1.0        100.0     0.000211       0.000211
50%            1.0        100.0     0.000234       0.000234
75%            1.0        100.0     0.000268       0.000268
max            1.0        100.0     0.001857       0.001857

In [38]:
pd.plotting.boxplot(BHS_STABLE_OUTPUT_DATA)